.container {
width: fit-content;
    margin: auto;
}

.FormContainer {
width: fit-content;
}

.FormInputDiv {
}

.FormInput {
    width: 30em;
    height: 10em;
    resize: both;
}

.FormButtonDiv {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 1%;
}
